.container { 
    display: flex;
    padding-top: 100px; 
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #fff;
    font-size: 32px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border-radius: 10px; /* arredondar */
    background-color: #2e2d4e;
    max-width: 50%;
    width: 400px;
    margin-bottom: 20px; /*pra nao ficar grudado */ 
    
}



